<% @transactions_old_month.each_with_index do |transaction, index| %>
<tr>
  <th scope="row"><%= page_index params[:page], index, Settings.old_month_per_page  %></th>
  <td><%= transaction.finance.cate_name %></td>
  <td><%= transaction.finance.name %></td>
  <% if transaction.status %>
  <td><%= t "month_report.name_chart.income"%></td>
  <% else %>
  <td><%= t "month_report.name_chart.expense"%></td>
  <% end %>
  <td><%= standardized(transaction.amout.to_i) %></td>
</tr>
<% end %>
<tr class="success">
  <th></th>
  <td class = "font-weight-bold"><b><%= t "month_report.name_column.sum_income_col" %></b></td>
  <td></td>
  <td></td>
  <td><i><%= standardized(@income_sum) %></i></td>
</tr>
<tr class="danger">
  <th></th>
  <td class = "font-weight-bold"><b><%= t "month_report.name_column.sum_expense_col" %></b></td>
  <td></td>
  <td></td>
  <td><i><%= standardized(@expense_sum) %></i></td>
</tr>
<tr class="info">
  <th></th>
  <td class = "font-weight-bold"><b><%= t "month_report.name_column.saving" %></b></td>
  <td></td>
  <td></td>
  <td><i><%= standardized(@income_sum - @expense_sum) %></i></td>
</tr>
