<% @transactions_old_month.each_with_index do |transaction, index| %>
<tr>
  <th scope="row"><%= page_index params[:old_month_page], index, Settings.old_month_per_page  %></th>
  <td><%= transaction.finance.cate_name %></td>
  <td><%= transaction.finance.name %></td>
  <% if transaction.status %>
  <td><%= t "month_report.name_chart.income"%></td>
  <% else %>
  <td><%= t "month_report.name_chart.expense"%></td>
  <% end %>
  <td><%= standardized(transaction.amout.to_i) %></td>
</tr>
<% end %>
<tr class="success-color text_white">
  <th></th>
  <td class = "font-weight-bold"><b><%= t "month_report.name_column.sum_income_col" %></b></td>
  <td></td>
  <td></td>
  <td><i><b><%= standardized(@income_sum) %></i></b></td>
</tr>
<tr class="danger-color text_white">
  <th></th>
  <td class = "font-weight-bold"><b><%= t "month_report.name_column.sum_expense_col" %></b></td>
  <td></td>
  <td></td>
  <td><i><b><%= standardized(@expense_sum) %></b></i></td>
</tr>
<tr class="saving-color text_white">
  <th></th>
  <td class = "font-weight-bold"><b><%= t "month_report.name_column.saving" %></b></td>
  <td></td>
  <td></td>
  <td><i><b><%= standardized(@income_sum - @expense_sum) %></b></i></td>
</tr>
