<%
  @transactions_time_select.each_with_index do |transaction, index|
    if transaction.status
  %>
  <tr class = "success-color text_white">
  <% else %>
  <tr class = "danger-color text_white">
  <% end %>
    <th scope="row"><%= index + 1 %></th>
    <td><%= transaction.finance.cate_name %></td>
    <td><%= transaction.finance.name %></td>
    <% if transaction.status %>
    <td><%= t "month_report.name_chart.income"%></td>
    <% else %>
    <td><%= t "month_report.name_chart.expense"%></td>
    <% end %>
    <td><%= transaction.date %></td>
    <td><%= standardized(transaction.amout.to_i) %></td>
  </tr>
  <% end %>
