<button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">
  <%= t "month_intense" %>
</button>
<div id="myModal" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <div class="row">
      <div class="col-md-8 col-md-offset-2 month_intense">
        <div class="panel panel-primary">
          <div class="panel-heading text-center"><%= t "month_intense" %> </div>
          <div class="panel-body pad-35 clearfix">
            <%= form_for :month_intense, url: month_intenses_path do |f| %>
              <div class="mb-15">
                <%= f.text_field :month_intense, class: "form_control field_month_intense f_number1" %>
              </div>
              <div class="text-right">
                <%= f.submit t("button.save_month_intense"), class: "btn btn-primary btn-sm btn-save-report " %>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
