<div class="col-md-12">
  <div class="action">
    <%= link_to t("button.new"), new_admin_saving_path, class: "btn btn-info" %>
  </div>
  <div class="panel panel-primary mt-20">
    <div class="panel-heading">
      <%= t "table.title.savings" %>
    </div>
    <div class="panel-body">
      <%= render "admin/shared/form_search", search: Settings.search2 %>
      <div class="table-responsive">
        <table class="table table-striped table-bordered table-hover">
          <thead>
            <tr>
              <th>#</th>
              <th><%= t "table.head.savings" %></th>
              <th></th>
            </tr>
          </thead>
          <tbody id="table-saving">
            <%= render "admin/savings/saving", savings: @savings %>
          </tbody>
        </table>
      </div>
      <div id="paginator">
        <%= paginate @savings, theme: "twitter-bootstrap-3" %>
      </div>
    </div>
  </div>
</div>
