<% provide :title, t("month_report.title.month_report") %>

<div class="container">
  <ul class="nav nav-tabs" role="tablist">
    <li class="active">
        <a href="#report" role="tab" data-toggle="tab">
            <icon class="fa fa-home"></icon> Report
        </a>
    </li>
    <li><a href="#chart" role="tab" data-toggle="tab">
        <i class="fa fa-user"></i> Chart
        </a>
    </li>
  </ul>
  <div class="tab-content">
    <div class="tab-pane fade active in" id="report">
      <div class="row mg-top-2">
      <div class="col-md-8">
        <div class="alert alert-danger" role="alert"">
          <p><%= t "month_report.other.need_save" %> <%= standardized(((format_number(@saving_in_year).to_i + format_number(@savings).to_i) /format_number(getMonth()).to_i).abs) %> <%= t "year_report.other.vnd" %> <%= t "month_report.other.complete" %></p>
        </div>
      </div>
      </div>
      <div class="row">
        <div class="col-md-8">
          <div class="panel panel-success">
            <div class="panel-heading">
              <h1 class="panel-title"><%= t "month_report.title.transaction"%></h1>
            </div>
            <div class="panel-body">
              <div class="flex-container">
                <div class="col-md-3 input-group date" data-provide="datepicker1" id="datetimepicker1">
                  <input type="text" class="form-control">
                  <div class="input-group-addon">
                      <span class="glyphicon glyphicon-th"></span>
                  </div>
                </div>
                <div class="input-group date col-md-3" id="datetimepicker2">
                  <input type="text" class="form-control">
                  <div class="input-group-addon">
                      <span class="glyphicon glyphicon-th"></span>
                  </div>
                </div>
                <div class="col-md-3">
                  <input type="button" name="range" id="search_time_picker" value="Search" class="btn btn-success form-control"/>
                </div>
              </div>
              <table class="table">
                <thead class="thead-dark">
                  <tr>
                    <th scope="col"><%= t "month_report.name_column.stt_col"%></th>
                    <th scope="col"><%= t "month_report.name_column.category_col"%></th>
                    <th scope="col"><%= t "month_report.name_column.name_col"%></th>
                    <th scope="col"><%= t "month_report.name_column.income_col"%></th>
                    <th scope="col"><%= t "month_report.name_column.date_col"%></th>
                    <th scope="col"><%= t "month_report.name_column.amout_col"%></th>
                  </tr>
                </thead>
                <tbody id="table_this_month">
                  <%= render "shared/table_month_report" %>
                </tbody>
              </table>
              <div id="paginator_this_month">
                <%= paginate @transactions, param_name:  "this_month_page", theme: "twitter-bootstrap-3", remote: true %>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="panel panel-success">
            <div class="panel-heading">
              <h1 class="panel-title"><%= t "month_report.title.add_transaction"%></h1>
            </div>
            <div class="panel-body">
              <%= form_for :transaction, url: finances_user_path do |f|  %>
                <div class="form-group">
                  <label for="exampleInputEmail1"><%= t "month_report.title.amout"%></label>
                  <%= f.text_field :amout, class: "form-control f_number2", id: "exampleInputEmail1"%>
            </div>
            <div class="form-group">
              <label for="exampleInputEmail1"><%= t "month_report.title.time"%></label>
              <div class="input-group date" id="datetimepicker3">
                <%= f.text_field :date, class: "form-control"%>
                <span class="input-group-addon">
                    <span class="glyphicon glyphicon-time"></span>
                </span>
              </div>
            </div>
            <div class="form-group">
              <label for="exampleInputEmail1"><%= t "month_report.title.category"%></label>
              <select name="transaction[category_id]">
                <% @categories_user.each do |category| %>
                  <option value="<%= category.id %>"><%= category.name %></option>
                <% end %>
              </select>
            </div>
            <div>
              <%= f.hidden_field :user_id, value: current_user.id %>
            </div>
            <div class="form-group">
              <label for="exampleFormControlTextarea1"><%= t "month_report.title.note"%></label>
              <div> <%= f.text_area :name, class: "form-control", id: "exampleFormControlTextarea1", rows: "3" %></div>
            </div>
            <div class="form-group">
              <label for="exampleFormControlTextarea1"><%= t "month_report.title.choice"%></label>
              <div><%= f.radio_button :status, "1",class: "col-md-6", :checked => true %><%= t "month_report.transaction.income"%></div>
              <div><%= f.radio_button :status, "0", class: "col-md-6" %><%= t "month_report.transaction.expense"%></div>
            </div>
            <div class="form-group">
              <label for="exampleFormControlTextarea1"><%= t "month_report.transaction.permanent"%></label>
              <div><%= t "month_report.transaction.permanent"%><%= f.check_box :staticExpense, class: "col-md-6" %></div>
              <%= f.hidden_field :staticExpense, value: "0" %>
            </div>
            <%= f.submit t("button.save"), class: "btn btn-primary btn-sm btn-save-report" %>
          <% end %>
        </div>
      </div>
          <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">
            <%= t "month_intense" %>
          </button>
          <div id="myModal" class="modal fade" role="dialog">
            <div class="modal-dialog">
              <div class="row">
                <div class="col-md-8 col-md-offset-2 month_intense">
                  <div class="panel panel-primary">
                    <div class="panel-heading text-center"><%= t "month_intense" %> </div>
                    <div class="panel-body pad-35 clearfix">
                      <%= form_for :month_intense, url: month_intenses_path do |f| %>
                        <div class="mb-15">
                          <%= f.text_field :month_intense, class: "form_control field_month_intense f_number1" %>
                        </div>
                        <div class="text-right">
                          <%= f.submit t("button.save_month_intense"), class: "btn btn-primary btn-sm btn-save-report " %>
                        </div>
                      <% end %>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <%= render "shared/panel_old_month" %>
        </div>
      </div>
    </div>
    <div class="tab-pane fade" id="chart">
      <div class="row mg-top-2" >
        <div class="col-md-6">
          <div id="chartContainer_month"></div>
        </div>
        <div class="col-md-6">
          <div id="barChartContainer_month"></div>
        </div>
      </div>
    </div>
  </div>
