<% provide :title, t("year_report.title.titles_year") %>

<div class="container">
  <ul class="nav nav-tabs" role="tablist">
    <li class="active">
        <a href="#report" role="tab" data-toggle="tab">
            <icon class="fa fa-home"></icon> Report
        </a>
    </li>
    <li><a href="#chart" role="tab" data-toggle="tab">
        <i class="fa fa-user"></i> Chart
        </a>
    </li>
  </ul>
  <div class="tab-content">
    <div class="tab-pane fade active in" id="report">
      <div class="row mg-top-2">
        <div class="col-md-8">
          <div class="panel panel-primary">
            <div class="panel-heading">
              <h1 class="panel-title"><%= t "year_report.title.table_title"%></h1>
            </div>
            <div class="panel-body">
              <%= render "shared/table_year_month" %>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <%= render "shared/table_intense_report" %>
            
        </div>
      </div>
  </div>
  <div class="tab-pane fade" id="chart">
    <div class="row">
      <div class="row link_page">
        <%= link_to t("month_report.link_page.move_report"), "#report" %>
      </div>
      <div class="col-md-6">
        <div id="chartContainer"></div>
      </div>
      <div class="col-md-6">
        <div id="barChartContainer"></div>
      </div>
      <%=javascript_tag "createChart(#{@income},#{@expense})" -%>
    </div>
  </div>
</div>
