<div class="col-md-12">
  <div class="alert" id="noti">
  </div>
</div>
<div class="col-md-7">
  <div class="panel panel-primary mt-20">
    <div class="panel-heading">
      <%= t "table.title.categories" %>
    </div>
    <div class="panel-body px-0">
      <div class="categories">
        <% @categories.each do |category| %>
          <%= render "category", category: category %>
        <% end %>
      </div>
    </div>
  </div>
</div>
<div class="col-md-5">
  <div class="panel panel-primary mt-20">
    <div class="panel-heading">
      <%= t("title.create", obj: Category.name) %>
    </div>
    <div class="panel-body">
      <%= form_for [:admin, @category] do |f| %>
        <%= render "shared/error_messages", object: f.object %>

        <%= f.label :name %>
        <%= f.text_field :name, class: "form-control" %>

        <div class="ui-widget mb-15">
          <%= f.label :parent_id %>
          <%= f.select :parent_id, options_for_select(@list_categories),{include_blank: ""}, {class: "select-autocomplete"} %>
        </div>

        <%= f.submit t("button.save"), class: "btn btn-primary" %>
      <% end %>
    </div>
  </div>
</div>
